In [2]:
### Q1. Create one variable containing following type of data:

### (i)	string

###(ii)	list

###(iii)	float

###(iv)	tuple

In [3]:
a = ["PW", "skill", 3.14, (1, 2, 3,4,5)]

In [4]:
###Q2. Given are some following variables containing data:
 ### What will be the data type of the above given variable.

### (i)	var1 = ‘ ‘

## (ii)	var2 = ‘[ DS , ML , Python]’

### (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

### (iv)	var4 = 1.

In [5]:
### Ans var1 is a string
### var2 is a string
###  var3 is a list.
###  var4 is a integer

In [6]:
### Q3. Explain the use of the following operators using an example:

## (i)	/

### (ii)	% 

### (iii)	//

### (iv)	**

In [7]:
### Ans (i) (/) Division Operator

In [9]:
x = 14
y = 3
z = x / y

In [10]:
print(z)

4.666666666666667

In [11]:
## % (Modulus Operator)

In [12]:
x = 11
y = 3
z = x % y

In [13]:
print(z)

2

In [14]:
##     //  is Floor Division Operator

In [15]:
x = 16
y = 5
z = x // y

In [16]:
print (z)

3

In [17]:
## ** Exponentiation Operator

In [18]:
x = 6
y = 7
z = x ** y

In [19]:
print (z)

279936

In [20]:
## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
## element and its data type.

In [26]:
list = [10, "Hello", 3.14, True, [1, 2, 3,4,5,6,7], {'name': 'ram', 'age': 25}, None, (4, 5, 6), False, "pwskill"]

for i in list:
    print(i, type(i))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3, 4, 5, 6, 7] <class 'list'>
{'name': 'ram', 'age': 25} <class 'dict'>
None <class 'NoneType'>
(4, 5, 6) <class 'tuple'>
False <class 'bool'>
pwskill <class 'str'>

In [27]:
## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
 ## times it can be divisible.

In [28]:
A = 72
B = 8
count = 0

while A % B == 0:
    A = A / B
    count += 1

In [29]:
## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
 ## divisible by 3 or not.

In [35]:
list1  = [4, 8,9,10,11,122,12,14,15,16,17,18,19,20,21,22,2223,2224,2225,226,227,28,29,30,33,34,36,67,78,89]

for num in list1 :
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

4 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
122 is not divisible by 3
12 is divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
2223 is divisible by 3
2224 is not divisible by 3
2225 is not divisible by 3
226 is not divisible by 3
227 is not divisible by 3
28 is not divisible by 3
29 is not divisible by 3
30 is divisible by 3
33 is divisible by 3
34 is not divisible by 3
36 is divisible by 3
67 is not divisible by 3
78 is divisible by 3
89 is not divisible by 3

In [36]:
##  Q7. What do you understand about mutable and immutable data types? Give examples for both showing

In [37]:
## Immutable data types are those whose values cannot be modified after they are created. When an operation is performed on an immutable object, it usually returns a new object with the updated value, while the original object remains unchanged.

In [ ]:
## example mutable list,dict ,imutable - int float